<div class="container offset-5">
    <div class="row">
        <h1>ユーザー詳細</h1>
    </div>
    <div class="row">
        <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.png", size:'150x150', class: "" %>
    </div>
    <div class="row">
        <table>
            <tr>
                <th>名前</th>    
                <td><%= @user.name %></td>
            </tr>
            <tr>
                <th>自己紹介</th>
                <td><%= @user.introduction %></td>
            </tr>

        <%= link_to following_user_user_path(@user) do %>
            <tr>
                <td>フォロー数<%= @user.followings.count %></td><br>
            </tr>
        <% end %>
        <%= link_to followers_user_user_path(@user) do %>
            <tr>
                <td>フォロワー数:<%= @user.followers.count %></td>
            </tr>
        <% end %>
        <% unless current_user == @user %>
        <% if current_user.following?(@user) %>
            <%= form_for(current_user.relationships.find_by(follow_id: @user.id), html: { method: :delete }) do |f| %>
            <%= hidden_field_tag :follow_id, @user.id %>
            <tr>
                <td><%= f.submit 'Unfollow', class: "follow-btn" %></td>
            </tr>
            <% end %>
        <% else %>
            <%= form_for(current_user.relationships.build) do |f| %>
            <%= hidden_field_tag :follow_id, @user.id %>
            <tr>
                <td><%= f.submit 'Follow', class: "btn-success" %></td>
            </tr>
            <% end %>
        <% end %>
        <% end %>
        </div>
        <tr>
            <% if @user == current_user %>
                <td><%= link_to "編集する", edit_user_user_path %></td>
            <% end %>
        </tr>
        </table>
    </div>
        <div class="row mt-5 mb-4">
            <%= link_to "このユーザーの目標一覧に飛ぶ", user_objectives_path %>
        </div>
</div>