<div class="container">
    <h3>フォローしてる人一覧</h3>
    <% @user.followings.each do |user| %>
        <div class="follow-index">
            <table class="table table-bordered">
            <tr>
            <td><%= attachment_image_tag(user, :profile_image, :fill, 70, 70, fallback: "no_image.png") %></td>
            <td>  <%= user.name %> </td>
            <td>フォロー数:<%= user.followers.count %></td>
            <td>フォロワー数<%= @user.followings.count %></td>
            <td>
                <% unless current_user == user %>
                    <% if current_user.following?(user) %>
                        <%= form_for(current_user.relationships.find_by(follow_id: user.id), html: { method: :delete }) do |f| %>
                        <%= hidden_field_tag :follow_id, user.id %>
                        <%= f.submit 'フォローを外す',class:"btn btn-danger" %>
                    <% end %>
                    <% else %>
                        <%= form_for(current_user.relationships.build) do |f| %>
                        <%= hidden_field_tag :follow_id, user.id %>
                        <%= f.submit 'フォローする',class:"btn btn-success" %>
                    <% end %>
                <% end %>
            <% end %>
            </td>
            </tr>
            </table>
        </div>
        <% end %>
</div>